<!DOCTYPE html>
<html lang="pt-br">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Projeto FIlmes</title>
</head>
<body>
  <h1>Projeto Filmes</h1>

  <ul>
    <li><a href="/listar">Listagem de Filmes</a></li>
    <li><a href="/add">Cadastrar Filme</a></li>

  </ul>
</body>
</html>